@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Nunito+Sans&display=swap');
/* font-family: 'Metal Mania', cursive; */
/* font-family: 'Nunito Sans', sans-serif; */
@font-face {
    font-family: 'Pastor of Muppets';
    src: url(Fonts/Pastor\ of\ Muppets.TTF) format('truetype');
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}


#header {
    /* border: 1px solid #000000; */
    position: sticky;
    top: 0;
    height: 9vh;
    max-width: 100vw;
    padding: 5px 1.3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0 2px 5px white;
    z-index: 2;
}
#header nav {
    max-width: 50%;
}
#header p {
    color: black;
    font-family: 'Metal Mania', cursive;
    font-size: 2.2em;
    font-style: italic;
}
#header img {
    height: 80%;
}

#nav-bar ul{
    flex-grow: 2;
    display: flex;
    list-style: none;
}
#nav-bar li{
    padding: 0 7px;    
}
#nav-bar a{
    text-decoration: none;
    color: #000000;
    font-weight: 580;
}


.landing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("Name Email bg.jpg");
    background-size: cover;
    background-color: hsla(0, 0%, 0%, 0.7);
    background-blend-mode: multiply;
    /* background-position: ; */
    height: 91vh;
}
.landing-section img {
    max-width: 70%;

}
.landing-form {
    display: flex;
    flex-direction: column;
    color: white;
    font-style: italic;
    align-items: center;
    /* justify-content: center; */
}
.input-section {
    margin-bottom: 40px;
}
.input-section div {
    display: inline;
}
.input-section label {
    font-size: 1.5em;
    padding-right: .5em;
}
.input-section input {
    background-color: rgba(87, 87, 87, 0.384);
    color: white;
    border: none;
    /* outline: none; */
    padding: 5px 10px;
    font-size: 1.2em;
    border-radius: 5px;
}
.submit-btn {
    background-color: hsla(0, 100%, 50%, 0.1);
    border: 1px solid hsl(0, 100%, 50%);
    color: white;
    outline: none;

    position: relative;
    left: 50%;
    transform: translate(-50%);

    display: flex;
    justify-content: center;

    border-radius: 5px;
    width: 80%;
    padding: 15px 50px;
    font-size: 1.2em;
    margin-bottom: 40px;
    cursor: pointer;

    transition: 300ms;
}
.submit-btn:hover {
    /* background-color: hsla(61, 100%, 38%, 0.2);
    border: 1px solid hsl(61, 100%, 38%); */
    background-color: hsla(201, 100%, 50%, 0.1);
    border: 1px solid hsl(201, 100%, 50%);
}


.bonus-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:hsl(0, 0%, 5%);
    padding-bottom: 3em;
}
.bonus-section span {
    margin: 1.5em 0;
    font-size: 1.7em;
    font-style: italic;
}
.bonus-section img {
    width: 6vw;
    margin: 30px 10px;
}
.bonus-section p {
    display: inline;
}
.bonuses {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bonuses div {
    display: flex;
    align-items: center;
    /* justify-content: center; *//*activate in media query*/
    padding: 0 3em;
}
.bonuses p {
    font-size: 1.2em;
    font-style: italic;
}


.product-section {
    background-image: url("product section bg 3.jpg");
    background-size: cover;
    background-color: hsla(0, 0%, 0%, 0.8);
    background-blend-mode: multiply;
    padding: 3em;
}
.collection-introduction {
    text-align: center;
    font-style: italic;
    font-size: 1.7em;
    margin-bottom: 1.5em;
}
.guitars {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    /* grid-gap: 10%; */
}
.guitars li {
    list-style: none;
    padding: 5%;
    margin: 5%;
}
.guitars p:nth-of-type(1) {
    margin-bottom: 12%;
    font-style: italic;
    font-size: 1.3em;
    text-shadow: 1px 1px 3px black;
}
.guitars p:nth-of-type(2) {
    text-shadow: 1px 1px 10px black;
}
.guitars li:nth-of-type(1) {/*Rock*/
    background-image: url("Guitars/Strat\ Classic.jpg");
    background-size: cover;
    background-position: center;
    border-radius: .5em;
    background-color: hsla(0, 0%, 0%, 0.5);
    background-blend-mode: multiply;
    transition: all 250ms;
}
.guitars li:nth-of-type(2) {/*Blues* (Red)*/
    background-image: url("Guitars/Gibson\ ES\ 335\ red.jpg");
    background-size: cover;
    border-radius: .5em;
    background-color: hsla(0, 0%, 0%, 0.5);
    background-blend-mode: multiply;
    transition: all 250ms;
}
.guitars li:nth-of-type(3) {/*Indie* (Orange?)*/
    background-image: url("Guitars/Rickenbacker\ 360.jpg");
    background-size: cover;
    border-radius: .5em;
    background-color: hsla(0, 0%, 0%, 0.5);
    background-blend-mode: multiply;
    transition: all 250ms;
}
.guitars li:nth-of-type(4) {/*Country* (Yellow)*/
    background-image: url("Guitars/Telecaster.jpg");
    background-size: cover;
    background-position: center;
    border-radius: .5em;
    background-color: hsla(0, 0%, 0%, 0.5);
    background-blend-mode: multiply;
    transition: all 250ms;
}
.guitars li:nth-of-type(5) {/*Metal (Monochrome)*/
    background-image: url("Guitars/Ibanez\ black.jpg");
    background-size: cover;
    border-radius: .5em;
    background-color: hsla(0, 0%, 0%, 0.5);
    background-blend-mode: multiply;
    transition: all 250ms;
}
.guitars li:nth-of-type(6) {/*Funk (Yellow/brownish santuy color; Goldish Brown?)*/
    background-image: url("Guitars/strat\ +\ tele.jpg");
    background-size: cover;
    border-radius: .5em;
    background-color: hsla(0, 0%, 0%, 0.5);
    background-blend-mode: multiply;
    transition: all 250ms;
}
.guitars li:nth-of-type(7) {/*Jazz (Brown)*/
    background-image: url("Guitars/Gibson-Custom-L-5-CES-001-VS_01.jpg");
    background-size: cover;
    border-radius: .5em;
    background-color: hsla(0, 0%, 0%, 0.5);
    background-blend-mode: multiply;
    transition: all 250ms;
}
.Rock:hover, .Blues:hover, .Indie:hover, .Country:hover, .Metal:hover, .Funk:hover, .Jazz:hover {
    transform: scale(110%);
}
.Rock:hover {
    box-shadow: 0 0 25px hsl(0, 0%, 100%);
}
.Blues:hover {
    box-shadow: 0 0 30px red;
}
.Indie:hover {
    box-shadow: 0 0 30px orangered;
}
.Country:hover {
    box-shadow: 0 0 30px yellow;
}
.Metal:hover {
    box-shadow: 1px 1px 40px hsl(0, 0%, 30%);
}
.Funk:hover {
    box-shadow: 1px 1px 40px hsl(36, 76%, 34%);
}
.Jazz:hover {
    box-shadow: 0 0 30px hsl(29, 81%, 25%);
}


.demo-section {
    display: grid;
    place-items: center;

    margin-top: 5em;
}
.demo-section p {
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}
.demo-section iframe {
    max-width: 560px;
    max-height: 315px;
    min-width: 425px;
    min-height: 250px;
    padding: 0 auto;
}



@media(min-width: 50em) {
    .landing-section {
        flex-direction: row;
        /* gap: 100px; */
    }
    .landing-section img {
        max-width: 40%;
    }
    .input-section {
        display: flex;
        flex-direction: column;
        /* text-align: end; */
        margin-left: -20vw;
        transform:scale(1.15);
    }
    .bonuses div {
        justify-content: center;
        transform: translateX(-2vw);
    }
    .bonus-section p {
        font-size: calc(100% + 1vw);
    }
    .bonus-section span {
        font-size: calc(100% + 1.1vw);
    }
}
/* next: 
- unique fcc html requirements
- submit input media queries*/